{% extends "layout.twig" %}

{% block title %}{{ "Settings"|trans }}{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

{% endblock stylesheets %}

{% block content %}

    <div class="container content">

        <h1>{{ "Settings"|trans }}</h1>



    </div>


{% endblock content %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}