<div id="footer">
    <div class="container">
        <p class="text-muted" style="display: block; height: 40px; margin: 10px 0; padding: 12px;">
            &copy; 2014-{{ "now"|date("Y") }} {% trans "by" %} Geert Derks.
            <a href="https://github.com/gafderks/activiteitenbank">
                {% trans "Activiteitenbank is an open-source project." %}
            </a>
        </p>
    </div>
</div>