<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Activities</title>
    {% block stylesheets %}
        {# Bootstrap #}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css" rel="stylesheet" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="{{ assetsUrl }}/css/style-screen.css" rel="stylesheet" />
        <link href="{{ assetsUrl }}/img/favicon.ico" rel="icon" />
    {% endblock %}
</head>

<body>
    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}

    <div class="container content">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}
        {% include "partials/footer.html" %}
    {% endblock %}

    {% block javascripts %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
