@charset "utf-8";
/* CSS Document */

/* Fonts
-------------------------------------------------- */

/*@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");*/

/* General Layout
-------------------------------------------------- */

body {
    padding-top: 50px;
    color: #444444;
}

body > .container.content {
    padding-bottom: 20px;
}

.glow {
    text-shadow: 0px 0px 5px #fff;
}

.white {
    color: #fff;
}

.subtitle {
    color: #999;
    padding-bottom: 20px;
}

fieldset {
    border: #ccc solid 1px !important;
    padding: 5px !important;
    border-radius: 5px;
}

p.error {
    padding: 15px;
    color: #f00;
}

/* Accent colors
-------------------------------------------------- */

.bg-accent-0 {
    background-color: #008028;
    color: #fff;
}

.bg-accent-1 {
    background-color: #001b5d;
    color: #fff;
}

.bg-accent-2 {
    background-color: #8b6a00;
    color: #fff;
}

.bg-accent-3 {
    background-color: #800000;
    color: #fff;
}

.bg-accent-4 {
    background-color: #007b80;
    color: #fff;
}

/* Bootstrap Modifications
-------------------------------------------------- */

.glyphicon {
    margin-right: 8px;
}

/* Input Fields
-------------------------------------------------- */

input[type=text] {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=checkbox]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus, select:focus, textarea:focus {
    border-color: #5b9dd9;
    -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, .8);
    box-shadow: 0 0 2px rgba(30, 140, 190, .8);
}

.wysiwyg {

}

.wysiwyg-extended {

}

/* Headings
-------------------------------------------------- */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, #logo {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 2.1;
    color: inherit;
}

h3 {
    font-size: 20px;
}

h3 .subtitle {
    font-size: 13px;
    margin-left: 5px;
}

/* Anchors
-------------------------------------------------- */

a.external {
    display: inline-block;
}

a.external:after {
    content: '\e164';
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 9px;
}

.nolink, .nolink:focus, .nolink:active, .nolink:hover {
    cursor: default;
    text-decoration: none;
    color: inherit;
}

/* Mouse
-------------------------------------------------- */

.pointer {
    cursor: pointer !important;
}

/* Main navigation
-------------------------------------------------- */

.navbar-main {
    /* background-color:#eee; */
    background-color: #2c3e50;
    color: #fff;
    border-radius: 0;
}

.navbar-main .navbar-nav > li > a {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-main .navbar-nav > .active > a, .navbar-main .navbar-nav > .active > a:hover, .navbar-main .navbar-nav > .active > a:focus, .navbar-nav > .active > a:focus, .navbar-main .navbar-nav > .childactive > a {
    color: #18bc9c;
    background-color: #1a242f;
}

.navbar-main .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #18bc9c;
    background-color: #2c3e50;
}

.navbar-main .navbar-brand {
    color: #eeeeee;
}

.navbar-main .navbar-toggle {
    background-color: #eee;
}

.navbar-main .icon-bar {
    background-color: #bbb;
}

.navbar-main .special {
    color: #000;
    font-style: italic;
}

#logo {
    line-height: 1.1 !important;
}

#account-menu {
    height: 60px;
    color: #000;
}

#account-menu .open > a {
    background-color: #1a242f;
}

#account-menu .navbar-content:before, #account-menu .navbar-content:after {
    display: table;
    content: "";
    line-height: 0;
}

#account-menu .navbar-content {
    width: 320px !important;
    padding: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}

#account-menu .dropdown-menu {
    padding: 0px;
    overflow: hidden;
}

#account-menu .navbar-footer {
    background-color: #ddd;
}

#account-menu .navbar-footer-content {
    padding: 15px;
}

.account-image-bar {
    height: 50px;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-right: 12px;
    float: left;
}

.account-image-menu {
    height: 100px;
    margin: 10px;
}

.account-name {
    font-weight: bold;
}

.account-information {
    float: left;
    margin-top: -10px;
    margin-bottom: -10px;
}

/* Secondary Navigation
-------------------------------------------------- */

.navbar-secundary {
    background-color: #f7f7f7;
    color: #fff;
    border-radius: 0;
}

.navbar-secundary .navbar-nav > li > a {
    color: #666;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-secundary .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .navbar-secundary .navbar-nav > .childactive > a {
    color: #666;
    background-color: #eee;
}

.navbar-secundary .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #2c3e50;
}

/* Wizard styles
-------------------------------------------------- */

.wizard {
    border: 2px solid #eee;
    margin-top: 20px;
    background-color: #f8f8ff;
}

.wizard > ul.buttons {
    list-style-type: none;
    background-color: #f8f8ff;
    padding: 0px;
    width: 120px;
    float: left;
}

.wizard > ul.buttons li {
    min-width: 100px;
    display: block;
    position: relative;
    line-height: 1.42857143;
    text-align: left;
    border-bottom: transparent 5px solid;
    padding: 0px !important;
}

.wizard > ul.buttons li a {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
    padding: 25px 15px;
    padding-bottom: 5px;
}

.wizard > ul.buttons li a:hover {
    text-decoration: none;
}

.wizard > ul.buttons li:hover {
    background-color: #eee;
}

.wizard > ul.buttons li.active {
    background-color: #fff;
    border-bottom: #fff 5px solid;
    font-weight: bold;
}

.wizard > ul.buttons li.completed {
    border-bottom: #096 solid 5px;
}

.wizard-content {
    display: none;
    margin: 0 0 0 120px;
    min-height: 350px;
    position: relative;
}

.wizard-content.active {
    display: block;
    background-color: #fff;
}

.wizard-content > div {
    display: inline-block;
    padding: 20px;
    width: 100%;
}

.wizard-content .note-editor {
    /*margin-left: -40px;*/
    /*margin-right: -40px;*/
    /*margin-bottom: -40px;*/
    /*margin-top: -20px;*/
}

.wizard-content h3.wizard-title {
    line-height: 1.1;
    margin-top: 5px;
}

.sidebar {
    margin-bottom: 15px;
}

/* Sidebar
-------------------------------------------------- */

.sidebar-item {
    border: #eeeeee 2px solid;
    border-radius: 4px;
    margin-top: 18px;
    padding: 10px;
    background-color: #eee;
}

.sidebar-title {
    display: block;
    /* background-color: #f8f8f8; */
    margin-top: 0px;
    padding: 8px;
    padding-bottom: 0px;
}

.sidebar-content {
    padding: 8px;
}

/* Wordpress-like Properties
-------------------------------------------------- */

.activity-property.removable {
    font-weight: bold;
}

.activity-property-edit {
    margin-left: 5px;
}

.activity-property-cancel {
    margin-left: 10px;
}

.activity-property-editor {
    margin: 20px;
    margin-top: 5px;
    display: none;
}

.activity-property-editor.active {
    display: block;
}

/* List
-------------------------------------------------- */

ul.list {
    list-style-type: none;
    padding-left: 20px;
    width: 90%;
}

ul.list > li {
    padding: 12px;
}

ul.list > li {
    border-bottom: #eee solid 1px;
}

ul.list > li > span {
    margin-right: 20px;
}

ul.list > li > input[type=checkbox] {
    margin-right: 20px;
}

ul.list > li:hover > input[type=text], ul.list > li > input[type=text]:focus, ul.list > li > input[type=text]:active, ul.list > li:hover > input[type=number], ul.list > li > input[type=number]:focus, ul.list > li > input[type=number]:active {
    border: solid 1px #ddd;
    margin: 0px;
}

ul.list.list-removable > li:hover > input[type=checkbox], ul.list.list-removable > li:focus > input[type=checkbox], ul.list.list-removable > li:active > input[type=checkbox] {
    display: none;
}

ul.list.list-removable > li:hover > .remove-action, ul.list.list-removable > li:focus > .remove-action, ul.list.list-removable > li:active > .remove-action {
    display: inline-block;
    margin-left: -2px;
    margin-right: 12px;

}

ul.list > li > .remove-action {
    color: #ffa6a6;
    display: none;
}

ul.list > li > .remove-action:hover, ul.list > li > .remove-action:focus, ul.list > li > .remove-action:active {
    color: #f00;
}

ul.list > li > input[type=text], ul.list > li > input[type=number] {
    border: 0px;
    margin: 1px;
    width: 80%
}

ul.list > li.list-new-action, ul.list > li.list-new-action > a {
    color: #ccc;
    cursor: pointer;
}

ul.list > li.list-new-action:hover, ul.list > li.list-new-action:focus, ul.list > li.list-new-action:active, ul.list > li.list-new-action:hover a, ul.list > li.list-new-action a:focus, ul.list > li.list-new-action a:active {
    color: #0eac40 !important;
}

ul.list > li.list-new-action > span {
    margin-right: 20px;
}

ul.list > li > .list-counter {
    width: 35px !important;
    margin-right: 15px !important;
    margin-left: 30px !important;
    text-align: right;
}

ul.list > li:hover > .list-counter, ul.list > li:focus > .list-counter, ul.list > li:active > .list-counter {
    width: 35px !important;
    margin-right: 15px !important;
    margin-left: -2px !important;
    text-align: right;
}

ul.list.list-budgetary > li > .list-name {
    width: 50%;
}

ul.list > li > .list-price {
    width: 60px !important;
    margin-right: 10px !important;
    margin-left: 4px !important;
    text-align: right;
}

ul.list > li > .list-price-sum {
    float: right;
}

ul.list > li > .list-total-value {
    float: right;
}

ul.list > li.list-total {
    border-top: double #ddd 4px;
}

ul.list > li > .list-time-endurance {
    width: 40px !important;
    margin-right: 25px !important;
    text-align: right;
    margin-left: 17px !important;
}

ul.list > li:hover > .list-time-endurance, ul.list > li:focus > .list-time-endurance, ul.list > li:active > .list-time-endurance {
    margin-left: -15px !important;
}

ul.list > li > .list-time-cumulative {
    width: 40px !important;
    margin-right: 25px !important;
    text-align: right;
}

ul.list.list-timeable > li > input[data-list-field=name] {
    width: 60%;
}

/* CKEditor override
-------------------------------------------------- */

.note-editor .note-toolbar.btn-toolbar {
    /*background-color: #fff;*/
    /*border-bottom: 2px solid #eee;*/
    /*float: left;*/
    /*width: 100%;*/
}

.cke_editor_activityElaboration {
    border-top: 0px !important;
    border-bottom: 0px !important;
}

.cke_editor_activityElaboration .cke_top {
    background-color: #f8f8f8;
}

/* Dropzone override
-------------------------------------------------- */

form.dropzone {
    border: dashed #0eac40 3px;
    min-height: 250px;
}

span[data-dz-errormessage] {
    color: white;
}

/* Time Graph
-------------------------------------------------- */

.time-graph {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 0px;
    height: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.time-graph > div {
    float: left;
    font-size: 10px;
    vertical-align: bottom;
    height: 20px;
    padding: 2px;
}

.time-graph > div > span {
    display: inline-block;
    bottom: 0;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}

/* Searchbar
-------------------------------------------------- */

#alt-search {
    display: none;
}

@media (max-width: 991px) and (min-width: 768px) {
    #search-group {
        display: none;
    }

    #alt-search {
        display: block;
    }
}

.search .item {
    border-bottom: 1px solid #ccc;
}

#srch-term {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.srch-header {
    display: block;
    padding: 3px 20px;
    padding-top: 3px;
    font-style: bold;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #343b87;
    font-size: 18px;
}

/* Badge Selectors
-------------------------------------------------- */

.badge-selectors {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    margin-bottom: 0px;
}

.badge-selectors > li {
    float: left;
    margin: 5px;
    width: 75px;
}

.badge-selectors.line-1 > li {
    height: 100px;
}

.badge-selectors.line-3 > li {
    height: 135px;
}

.badge-selectors > li > label > input[type=checkbox] {
    display: none;
}

.badge-selectors > li > label {
    font-weight: normal;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #999;
}

.badge-selectors > li.active > label, .badge-selectors > li:hover > label {
    font-weight: bold;
    color: #444;
}

.badge-selectors .badge-selectors-img {
    width: 100%;
    opacity: 0.1;
    filter: alpha(opacity=10);
    height: 75px;
}

.badge-selectors > li.active .badge-selectors-img {
    opacity: 1;
    filter: alpha(opacity=100);
}

.badge-selectors > li:not(.active):hover .badge-selectors-img {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.badge-small {
    width: 25px;
    height: 25px;
}

/* Filter
-------------------------------------------------- */

.filter-bar {
    background-color: #eee;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 15px;
}

.filter-item {
    background-color: #f5f5f5;
    border-radius: 3px;
    margin-bottom: 12px;
    padding: 10px;
}

.filter-content {
    display: none;
}

.filter-item.active .filter-content {
    display: block;
}

.filter-item .filter-title span {
    font-size: 14px;
}

.filter-item .filter-title span.chevron {
    color: #aaa;
}

.filter-item .filter-title span.chevron:before {
    content: "\e080";
}

.filter-item.active .filter-title span.chevron:before {
    content: "\e114";
}

.filter-title {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.filter-item .radio {
    padding-left: 0;
}

.filter-bar-title {
    margin-top: 0px;
    display: block;
    margin-bottom: 0px;
    cursor: pointer;
}

.filter-bar .filter-bar-title span:before {
    content: "\e080";
}

.filter-bar.active .filter-bar-title span:before {
    content: "\e114";
}

.filter-bar .filter-bar-content {
    display: none;
}

.filter-bar.active .filter-bar-content {
    display: block;
}

@media (min-width: 992px) {
    .filter-bar-title {
        display: none;
    }

    .filter-bar .filter-bar-content {
        display: block;
    }

}

#filter-term {
    width: 100%;
}

/* Tabs
-------------------------------------------------- */

.tab-content {
    padding: 5px;
}

/* Sliders
-------------------------------------------------- */

.slider {
    width: 100% !important;
    margin-top: 30px;
}

/* Slider colors */

.slider-selection {
    background-color: #18bc9c;
    background-image: none;
}

.slider-track {
    background-color: #ddd;
    background-image: none;
}

.slider-handle {
    background-color: #0f7864;
    background-image: none;
    opacity: 1;
}

/* Bottom labels */

.slider-left {
    font-size: 12px;
    margin-top: -3px;
    margin-left: 2%;
    width: 40%;
    display: block;
}

.slider-right {
    font-size: 12px;
    float: right;
    display: block;
    margin-top: -15px;
    margin-right: 2%;
    width: 40%;
    text-align: right;
}

/* Tooltips */

.slider .tooltip-inner {
    background-color: transparent;
    color: #0f7864;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.slider .tooltip-arrow {
    display: none;
}

.slider .tooltip.top {
    margin-top: 3px;
}

.slider .tooltip.bottom.tooltip-max {
    margin-top: -10px;
    top: -30px !important;
}

.slider .tooltip.tooltip-max {
    margin-top: -10px;
}

/* View activity
-------------------------------------------------- */

.activity-section {
    font-size: 1.5em;
    margin-top: 1em;
    line-height: 1.3;
    margin-bottom: 0.25em;
    border-bottom: 1px solid #aaa;
}

.activity-section span {
    font-size: small;
    font-weight: normal;
    vertical-align: baseline;
    line-height: 1em;
    display: inline-block;
    margin-left: 10px;
}

/* Data table modifications
-------------------------------------------------- */

#activity-table {
    width: 100% !important;
}

.pagination > li > a {
    padding: 6px 12px;
    background-color: #95a5a6 !important;
}

.pagination > li.active > a {
    background-color: #18bc9c !important;
}

li.paginate_button {
    padding: 0px !important;
}

li.paginate_button.disabled a {
    background-color: #cfcfcf !important;
}

li.paginate_button:hover {
    background: none !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
}

table.dataTable.display tbody tr:hover {
    background-color: whitesmoke !important;
}

table.dataTable.display thead tr {
    border-bottom: solid 3px #eee;
}

table.dataTable.display tfoot tr {
    border-top: solid 3px #eee;
}

table.dataTable.display tbody tr {
    border-bottom: solid 1px #eee;
}

table.dataTable.display tbody tr td {
    padding: 8px;
}

/* override column visibility menu */
a.buttons-colvis {

}

.colvis {
    text-align: right;
    padding-bottom: 5px;
}

.colvis > div > a.buttons-colvis {
    background-color: transparent;
    color: #18bc9c;
    border: none;
}

.buttons-columnVisibility {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.buttons-columnVisibility.active {
    background: #2c3e50;
    color: white;
}

.buttons-columnVisibility:before {
    padding-top: 2px;
    margin-right: 15px;
}

.buttons-columnVisibility.active:before {
    font-family: "Glyphicons Halflings", sans-serif;
    content: "\e013";
    font-size: 0.8em;
    margin-top: 2px;
    margin-right: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

.buttons-columnVisibility a {
    width: 100%;
}

.buttons-columnVisibility.active a {
    padding-left: 0px;
}

/* Grid badges
-------------------------------------------------- */

span.grid-badges {
    font-size: 0.8em;
    color: #777;
    float: right;
    width: 8em;
}

span.grid-badges span.glyphicon {
    padding-left: 0.8em;
    margin-right: 0.2em;
}

span.grid-badges span:not(.glyphicon) {
    width: 1.5em;
    display: inline-block;
}

/* Fix tooltips
-------------------------------------------------- */

.tooltip.top {
    top: -30px !important;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

.content {
    margin-bottom: 60px !important;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Settings
-------------------------------------------------- */

div.scope-selector {

}

div.scope-selector ul {
    list-style: none;
    padding-left: 2em;
}

input.monospace {
    font-family: monospace;
    font-weight: normal;
}

/* Rating stars
-------------------------------------------------- */

.rating-stars {
    font-size: 1.2em;
    color: #18bc9c;
}

.rating-stars.disabled {
    color: inherit;
}

/* Comments
-------------------------------------------------- */

.comment {
    margin-bottom: 1em;
    margin-top: 1em;
}

.comment-body {
    border: 1px #ccc solid;
    padding: 1em;
    width: 100%;
}

.comment-header div {
    display: inline-block;
}

.comment-user {
    font-weight: bold;
}

.comment-didit {
    color: #999;
    margin-left: 2em;
}

.comment-didit span {
    padding-right: 0;
}

.comment-date {
    float: right;
    color: #999;
}

/* Password strength meter
-------------------------------------------------- */

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto 1em;
    width: 100%;
    height: .5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }

.password-feedback {
    color: #9ab;
    font-size: 90%;
    padding: 0 .25em;
    margin-top: 1em;
}

.password-submit-info {
    color: red;
    font-size: 90%;
    padding: 0 .25em;
    margin-top: 1em;
}