<div class="filter-bar">
    <h3 class="filter-bar-title"><span class="glyphicon"></span>Filters</h3>
    <div class="filter-bar-content">
        <div class="filter-item active">
            <h3 class="filter-title"><span class="glyphicon"></span>Keyword</h3>
            <div class="filter-content">
                <input id="filter-term" type="text" placeholder="Narrow results" />
            </div>
        </div>
        <div class="filter-item active">
            <h3 class="filter-title"><span class="glyphicon"></span>Category</h3>
            <div class="filter-content">
                <div class="radio">
                    <label>
                        <input type="checkbox" name="filter-category" data-filter-text="<?php echo ActivityCategories::Text(ActivityCategories::ForestGame); ?>" value="1" >
                        Forest game
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="filter-category" data-filter-text="<?php echo ActivityCategories::Text(ActivityCategories::Indoors); ?>" value="2" >
                        Indoors
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="filter-category" data-filter-text="<?php echo ActivityCategories::Text(ActivityCategories::Technique); ?>" value="3" >
                        Technique
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="filter-category" data-filter-text="<?php echo ActivityCategories::Text(ActivityCategories::Game); ?>" value="4" >
                        Game
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="filter-category" data-filter-text="<?php echo ActivityCategories::Text(ActivityCategories::Extraordinary); ?>" value="5" >
                        Extraordinary
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="filter-category" data-filter-text="<?php echo ActivityCategories::Text(ActivityCategories::SpecialOccasion); ?>" value="6" >
                        Special occasion
                    </label>
                </div>

            </div>
        </div>
        <div class="filter-item">
            <h3 class="filter-title"><span class="glyphicon"></span>Duration</h3>
            <div class="filter-content">
                <input class="slider left time" type="text" data-slider-min="<?php echo min($times); ?>" data-slider-max="<?php echo max($times); ?>" data-slider-step="1" data-slider-value="<?php echo min($times); ?>"/>
                <input type="hidden" value="" />
                <span class="slider-left"><?php echo Format::int2Time(min($times)); ?></span>
                <span class="slider-right"><?php echo Format::int2Time(max($times)); ?></span>
            </div>
        </div>
        <div class="filter-item">
            <h3 class="filter-title"><span class="glyphicon"></span>Budgetary</h3>
            <div class="filter-content">
                <input class="slider left budget" type="text" data-slider-min="<?php echo min($budgets); ?>" data-slider-max="<?php echo max($budgets); ?>" data-slider-step="1" data-slider-value="<?php echo max($budgets); ?>"/>
                <span class="slider-left"><?php echo Format::float2Euro(min($budgets)); ?></span>
                <span class="slider-right"><?php echo Format::float2Euro(max($budgets)); ?></span>
            </div>
        </div>
        <div class="filter-item">
            <h3 class="filter-title"><span class="glyphicon"></span>Difficulty</h3>
            <div class="filter-content">
                <input class="slider left level" type="text" data-slider-min="<?php echo ActivityDifficulties::VeryLow; ?>" data-slider-max="<?php echo ActivityDifficulties::VeryHigh; ?>" data-slider-step="1" data-slider-value="<?php echo ActivityDifficulties::VeryHigh; ?>"/>
                <span class="slider-left">Very Low</span>
                <span class="slider-right">Very High</span>
            </div>
        </div>
        <div class="filter-item">
            <h3 class="filter-title"><span class="glyphicon"></span>Guidance</h3>
            <div class="filter-content">
                <input class="slider left level" type="text" data-slider-min="<?php echo ActivityGuidances::VeryLow; ?>" data-slider-max="<?php echo ActivityGuidances::VeryHigh; ?>" data-slider-step="1" data-slider-value="<?php echo ActivityGuidances::VeryHigh; ?>"/>
                <span class="slider-left"><?php echo ActivityGuidances::Text(ActivityGuidances::VeryLow); ?></span>
                <span class="slider-right"><?php echo ActivityGuidances::Text(ActivityGuidances::VeryHigh); ?></span>
            </div>
        </div>
        <div class="filter-item">
            <h3 class="filter-title"><span class="glyphicon"></span>Motivation</h3>
            <div class="filter-content">
                <input class="slider left level" type="text" data-slider-min="<?php echo ActivityMotivations::VeryLow; ?>" data-slider-max="<?php echo ActivityMotivations::VeryHigh; ?>" data-slider-step="1" data-slider-value="<?php echo ActivityMotivations::VeryHigh; ?>"/>
                <span class="slider-left"><?php echo ActivityMotivations::Text(ActivityMotivations::VeryLow); ?></span>
                <span class="slider-right"><?php echo ActivityMotivations::Text(ActivityMotivations::VeryHigh); ?></span>
            </div>
        </div>
        <div class="filter-item">
            <h3 class="filter-title"><span class="glyphicon"></span>Activity areas</h3>
            <div class="filter-content">

            </div>
        </div>
        <div class="filter-item">
            <h3 class="filter-title"><span class="glyphicon"></span>Suitable groups</h3>
            <div class="filter-content">
                <div class="radio">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio" data-prop-text="Forest game" value="1" >
                        Bevers
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio" data-prop-text="Indoors" value="2" >
                        Welpen
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio" data-prop-text="Technique" value="3"  checked>
                        Scouts
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio" data-prop-text="Game" value="4" >
                        Explorers
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio" data-prop-text="Extraordinary" value="5" >
                        Roverscouts
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio" data-prop-text="Special occasion" value="6" >
                        Plusscouts
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>